@model SirketCore.Models.Birim

@{
    ViewData["Title"] = "BirimGetir";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<small>Birim Güncelleme Sayfası</small>
@using (Html.BeginForm("BirimGuncelle", "Birim", FormMethod.Post))
{
    <b>Birim ID</b>
    @Html.TextBoxFor(x => x.BirimID, new { @class = "form-control ", @readonly = "readonly" })
    <br />
    <b>Birim Ad</b>
    @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Birim Güncelle</button>
}

